# archivos
*.pdf
*.PDF
*.xlsx
*.xls
*.jpg
*.png
*.jpeg
*.xml
*.pptx
*.exe
*.apk
*.jfif
# archivo con informacion de la empresa
security.php
*.patch
**/SBSE*
*.patch
*.db

# carpetas
www/README.md
www/PRO_UPGRADE.txt
www/gulpfile.js
www/LICENCE
www/package-log.json
www/package.json